ul{
  list-style: none;
  background: #d8e8f6;

  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #dedede;
    content: '';
    display: inline-block;
    visibility: visible;
    outline: none;
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #959595;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #00c2d5;
    content: '';
    display: inline-block;
    visibility: visible;
  }
}
