ul{
  list-style: none;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

.item{
  padding-left: 15px;
}

.group{
  margin: 15px 0px;
}

.section{
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 0px;
}

.unSelected{
  font-style: italic;
  opacity: 0.3;
}

.actions{
  padding: 10px 0px;

  .clear-btn{
    cursor: pointer;
  }

  button{
    cursor: pointer;
    background-color: #184369;
    color: #fff;
    border: 1px solid #226ba6;
    border-radius: 2px;
    margin-left: 15px;
  }

  button:hover{
    background-color: #226ba6;
  }

  .disabled{
    //pointer-events: none;
    cursor: not-allowed;
  }

}
