.col-title{
  font-size: 16px;
  padding: 5px;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

app-summary{
  display: block;
  border: 1px solid #eff4fa;
  padding: 10px 38px;
}

.row{
  margin: 0 !important;
}
