.device-groups {
  border: 1px solid #eff4fa;
  .device-group {
    background-color: #184369;
    color: #fff;
    line-height: 30px;
    border: 1px solid #65819b;
    cursor: pointer;
    padding: 4px 4px 4px 15px;

    .fa{
      margin-right: 5px;
    }
  }

  .display-none{
    display: none;
  }
}
